.contenedor {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.red {
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: blue;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}